:root {
    --bg: #ffffff;
    --bg-b: #000000;
    --bg-c: #fcfcfc;
    --text: #787878;
    --text-b: #ffffff;
    --text-subtitle: #616161;
    --text-light: #ececec;
    --text-highlight: #000000;
    --text-highlight-b: #ffffff;
    --text-highlight-t: #ffab2d60;
}

@media print,
screen {

    html,
    body {
        width: 210mm;
        height: 297mm;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        print-color-adjust: exact;
        color: var(--text);
        margin: 0;
        font-size: 0.9em;
    }

    h1 {
        color: var(--bg-b);
        font-size: 3em;
        font-weight: 900;
        margin-top: 0rem;
        margin-bottom: 0;
    }

    h2 {
        color: var(--text-highlight);
        font-weight: bolder;
        padding-bottom: 0.5rem;
        border-bottom: solid 1px var(--text);
    }

    nav h2 {
        border-bottom: solid 1px var(--text-b);
    }

    .subtitle {
        margin-top: 0;
        font-size: 1.5em;
        font-style: italic;
        color: var(--text);
        border: none;
    }

    a {
        color: var(--text-highlight-b);
    }

    main {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
        height: 100%;
    }

    article {
        position: relative;
        height: 100%;
        margin-left: 18rem;
    }

    section {
        position: relative;
        padding: 0rem 3rem;
        width: calc(100% - 6rem);
        margin-bottom: 3rem;
    }

    section.first {
        margin-top: 2rem;
        padding: 2rem 3rem .5rem 3rem;
    }

    section.shadow {
        background-color: var(--bg-c);
        -webkit-box-shadow: 0 10px 4px -4px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 10px 4px -4px rgba(0, 0, 0, 0.05);
        box-shadow: 0 10px 4px -4px rgba(0, 0, 0, 0.05);
    }

    nav {
        padding: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        height: 92%;
        width: 14rem;
        color: var(--text-b);

        background: rgb(67, 67, 67);
        /* background: linear-gradient(0deg, #434343 70%, #a1a1a1 100%); */
    }

    nav img {
        position: relative;
        width: 100%;
        border-radius: 5%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
        filter: brightness(1.5);
    }

    nav h2 {
        font-weight: 900;
        color: var(--text-highlight-b);
    }

    hr {
        position: relative;
        width: 50%;
        margin-top: 5rem;
    }

    .double {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .double h2 {
        margin-bottom: 0;
    }

    .double div {
        position: relative;
        width: 45%;
    }

    .table {
        display: flex;
        flex-direction: row;
    }

    .table p {
        white-space: nowrap;
        margin-right: 1rem;
    }
}